<!DOCTYPE html>
<html>
<head>
<title>Buy Products</title>
<link rel="stylesheet" href="static/css/base.css">
<script src="js/script.js"></script>
</head>

<body>

<nav class="navbar">
<h2>EcoMart Products</h2>
<a href="index.html">Home</a>
</nav>

<section class="products">

<div class="card">

<img src="images/rice.jpg">

<h3>Rice</h3>

<button onclick="buyProduct('Rice')">Buy</button>

</div>

<div class="card">

<img src="images/fruits.jpg">

<h3>Fruits</h3>

<button onclick="buyProduct('Fruits')">Buy</button>

</div>

<div class="card">

<img src="images/vegetables.jpg">

<h3>Vegetables</h3>

<button onclick="buyProduct('Vegetables')">Buy</button>

</div>

<div class="card">

<img src="images/milk.jpg">

<h3>Milk</h3>

<button onclick="buyProduct('Milk')">Buy</button>

</div>

</section>

</body>
</html>