body{
margin:0;
font-family:Arial;
background:#f4f7f5;
}

/* Hero */

.hero{
height:80vh;
background:linear-gradient(rgba(0,0,0,0.4),
rgba(0,0,0,0.4)),
url('https://images.unsplash.com/photo-1542838132-92c53300491e');
background-size:cover;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
color:white;
text-align:center;
}

/* Products */

.products{
display:flex;
flex-wrap:wrap;
justify-content:center;
gap:30px;
padding:40px;
}

/* Forms */

.form-container{
width:300px;
margin:100px auto;
background:white;
padding:30px;
border-radius:10px;
box-shadow:0 4px 10px rgba(0,0,0,0.2);
}

.form-container input{
width:100%;
padding:10px;
margin:10px 0;
}

.form-container button{
width:100%;
padding:10px;
background:#2e7d32;
color:white;
border:none;
}
